body {
  background-color:#2d2d2d;
  overflow: hidden;
  /* font-family: 'Fjalla One', sans-serif; */
  font-family: cursive;
  /* display: flex; */
  align-items: center;
  font-weight: bold;
  justify-content: center;   
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
  text-align:center
}

h2{
  font-size: 30px;
  color: #fff;
  text-align: center; 
  margin-top: 20px;
  margin-bottom: 20px;
}

svg{
  width:80%;
  height:80%;
  visibility:hidden;
  
}
.shine, .iconContainer{
  pointer-events:none;
}
.dot{
  cursor:pointer;
}

.shine circle{
  stroke:#FFF;
}

.speechBubbleGroup text{
  text-anchor:middle;
  font-size:29px;
  
}

line{
  vector-effect:"non-scaling-stroke";
}

.hitArea, .dragContainer{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.btn{
  margin: auto;
}
a{
  text-decoration: none;
}
.btn1,.btn2{
  padding: 15px 20px;
  margin: 5px;
  border-radius: 15px;
  border: none;
  background: #FFF;
  color: #0B2F9F;
  font-size: 18px;
  font-weight: bold;
}

.speechBubbleFill{
  justify-items: center;
}

.dotContainer{
  justify-items: center;
}

.dot{
  font-weight: bolder;
}